/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;
  padding: 5px;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

.action {
  background-color: #6f6f6f;
  /* text-decoration: none; */
  border: none;
  padding: 5px;
  color: #bebebe;
  display: inline-block;
}
.icon {
  fill: #bebebe;
  vertical-align: middle;
}
.action:hover {
  background-color: #0353e9;
}
.action:hover .icon {
  fill: #ffffff;
}

.close {
  background-color: rgba(0, 0, 0, 0);
  margin-right: 3px;
  border-radius: 50%;
}

.drag {
  background-color: rgba(0, 0, 0, 0);
}
.drag:hover {
  background: none;
}
